<a href="https://colab.research.google.com/github/prithwis/BigRe/blob/master/Pivot_Tables_for_OLAP_Cube_Python_Superstore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://4.bp.blogspot.com/-gbL5nZDkpFQ/XScFYwoTEII/AAAAAAAAAGY/CcVb_HDLwvs2Brv5T4vSsUcz7O4r2Q79ACK4BGAYYCw/s1600/kk3-header00-beta.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#SuperStore
Super Store Order Data https://drive.google.com/file/d/13MKOpo8iD-tMkeMLw-4IPFi5-xWhmqFZ/view?usp=sharing <br>
Original Data from [Tableau](https://community.tableau.com/docs/DOC-1236)

In [2]:
#!wget -O SS_Orders2.csv 'https://drive.google.com/uc?export=download&id=13MKOpo8iD-tMkeMLw-4IPFi5-xWhmqFZ'
#!gdown https://drive.google.com/uc?id=13MKOpo8iD-tMkeMLw-4IPFi5-xWhmqFZ
!wget -q -O SS_Orders.csv 'https://raw.githubusercontent.com/Praxis-QR/RDWH/main/SS_Orders.csv'

In [3]:
import numpy as np
import pandas as pd

In [4]:
dfSS = pd.read_csv('SS_Orders.csv', delimiter = ',')
dfSS.head(10)

   Row ID        Order ID  Order Date  ... Quantity Discount    Profit
0       1  CA-2016-152156  08/11/2016  ...        2     0.00   41.9136
1       2  CA-2016-152156  08/11/2016  ...        3     0.00  219.5820
2       3  CA-2016-138688  12/06/2016  ...        2     0.00    6.8714
3       4  US-2015-108966  11/10/2015  ...        5     0.45 -383.0310
4       5  US-2015-108966  11/10/2015  ...        2     0.20    2.5164
5       6  CA-2014-115812  09/06/2014  ...        7     0.00   14.1694
6       7  CA-2014-115812  09/06/2014  ...        4     0.00    1.9656
7       8  CA-2014-115812  09/06/2014  ...        6     0.20   90.7152
8       9  CA-2014-115812  09/06/2014  ...        3     0.20    5.7825
9      10  CA-2014-115812  09/06/2014  ...        5     0.00   34.4700

[10 rows x 21 columns]

In [5]:
dfSS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

Pivot <br>
https://dfrieds.com/data-analysis/pivot-table-python-pandas.html

In [6]:
#Create the pivot table
dfSSPivot = pd.pivot_table(data=dfSS,index='Segment',columns='Category',values='Sales', aggfunc='sum').copy()
dfSSPivot

Category       Furniture  Office Supplies  Technology
Segment
Consumer     391049.3120       363952.136  406399.897
Corporate    229019.7858       230676.462  246450.119
Home Office  121930.6975       124418.434  183304.017

In [7]:
#Calculate the Row Totals
dfSSPivot['RowTotals'] = (dfSSPivot['Furniture']+dfSSPivot['Office Supplies']+dfSSPivot['Technology']).round(2)
dfSSPivot

Category       Furniture  Office Supplies  Technology   RowTotals
Segment
Consumer     391049.3120       363952.136  406399.897  1161401.35
Corporate    229019.7858       230676.462  246450.119   706146.37
Home Office  121930.6975       124418.434  183304.017   429653.15

In [8]:
#Create the column totals, transpose the columns and rows
dfColTotals = dfSSPivot.sum().round(2).to_frame().T
#dfColTotals.rename(index={0:'ColTotals'},inplace=True)
dfColTotals

Category  Furniture  Office Supplies  Technology   RowTotals
0          741999.8        719047.03   836154.03  2297200.87

In [9]:
dfSSPivot2 = dfSSPivot.append(dfColTotals).copy()
dfSSPivot2

Category       Furniture  Office Supplies  Technology   RowTotals
Consumer     391049.3120       363952.136  406399.897  1161401.35
Corporate    229019.7858       230676.462  246450.119   706146.37
Home Office  121930.6975       124418.434  183304.017   429653.15
0            741999.8000       719047.030  836154.030  2297200.87

In [10]:
dfSSPivot2.rename(index={0:'ColTotals'},inplace=True)
dfSSPivot2

Category       Furniture  Office Supplies  Technology   RowTotals
Consumer     391049.3120       363952.136  406399.897  1161401.35
Corporate    229019.7858       230676.462  246450.119   706146.37
Home Office  121930.6975       124418.434  183304.017   429653.15
ColTotals    741999.8000       719047.030  836154.030  2297200.87

##Pivot Tables in SQL
A cross tab with the same data is available in [this Colab Notebook](https://colab.research.google.com/drive/16Ff-5Ia7-sVJkab51KGQFOXefzeZ-G0t?usp=sharing)

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)

#eCommerce Data <br>
This data has too few dimensions to be made into a pivot table <br>
Original Data https://www.kaggle.com/carrie1/ecommerce-data <br>
Same data in Google Drive https://drive.google.com/open?id=1K_rQftggePnII3K6613MumhKo3dTMO5r <br>
10% data in Google Drive https://drive.google.com/file/d/1YjCMPc4vUuXvWik1u4p5aP-THJUJjvDX/view?usp=sharing

In [ ]:
!gdown https://drive.google.com/uc?id=1YjCMPc4vUuXvWik1u4p5aP-THJUJjvDX

Downloading...
From: https://drive.google.com/uc?id=1YjCMPc4vUuXvWik1u4p5aP-THJUJjvDX
To: /content/eCommerce02.csv
100% 917k/917k [00:00<00:00, 61.9MB/s]

In [ ]:
dfeCom = pd.read_csv('eCommerce02.csv', delimiter = ',')
dfeCom.head(10)

  InvoiceNo StockCode  ... CustomerID         Country
0   C544414     22960  ...    13408.0  United Kingdom
1    555276     48111  ...        NaN  United Kingdom
2    575656     22952  ...    13319.0  United Kingdom
3    571636     20674  ...    13509.0  United Kingdom
4    576657     22556  ...    12720.0         Germany
5    569823     23298  ...    16895.0  United Kingdom
6    570185     21090  ...        NaN  United Kingdom
7    574943    17091J  ...    13026.0  United Kingdom
8    561902     22909  ...    17404.0          Sweden
9    550499     22138  ...        NaN  United Kingdom

[10 rows x 8 columns]

In [ ]:
dfeCom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10838 entries, 0 to 10837
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    10838 non-null  object
 1   StockCode    10838 non-null  object
 2   Description  10809 non-null  object
 3   Quantity     10838 non-null  int64
 4   InvoiceDate  10838 non-null  object
 5   UnitPrice    10838 non-null  float64
 6   CustomerID   8057 non-null   float64
 7   Country      10838 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 677.5+ KB

In [ ]:
#Create the pivot table
dfeComPivot = pd.pivot_table(data=dfeCom,index='StockCode',columns='Country',values='Quantity', aggfunc='sum').copy()
dfeComPivot

Country       Australia  Austria  ...  United Kingdom  Unspecified
StockCode                         ...
10120               NaN      NaN  ...             1.0          NaN
10125               NaN      NaN  ...             4.0          NaN
10133               NaN      NaN  ...             4.0          NaN
10135               NaN      NaN  ...            34.0          NaN
11001               NaN      NaN  ...          -176.0          NaN
...                 ...      ...  ...             ...          ...
DCGS0069            NaN      NaN  ...            -5.0          NaN
DOT                 NaN      NaN  ...            16.0          NaN
M                   NaN      NaN  ...            -8.0          NaN
POST                NaN      NaN  ...           998.0          NaN
gift_0001_50        NaN      NaN  ...             1.0          NaN

[2467 rows x 35 columns]